html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #484746;
  background: #fafafa;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  background: #fff;
  height: 45px;
  border-bottom: 2px solid rgba(63, 63, 68, 0.1);
}

.content {
  width: 1000px;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 15px;
}

.panel {
  background: #fff;
  margin-bottom: 16px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.panel-heading {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(63, 63, 68, 0.1);
}

.panel-title {
  font-size: 18px;
  line-height: 24px;
}

.panel-body {
  padding: 8px;
}

.panel-footer {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(63, 63, 68, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr th {
  text-align: left;
  border-bottom: 2px solid rgba(63, 63, 68, 0.1);
  padding: 5px;
  font-weight: bold;
}

.table tbody tr {
  border-top: 1px solid rgba(63, 63, 68, 0.1);
}

.table tbody tr td {
  vertical-align: top;
  padding: 5px;
}

.table tbody tr:nth-of-type(odd) {
  background: #fcfcfc;
}

select {
  background: #fafafa;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.form-control {
  color: #484746;
  line-height: 13px;
  font-size: 13px;
  height: 32px;
  background: #fafafa;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.01);
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 8px;
  width: 100%;
  display: block;
}

.filter-item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-column {
  padding-right: 15px;
  width: 25%;
}

.filter-operator {
  padding-right: 15px;
  width: 25%;
}

.filter-query_1 {
  width: 24%;
  padding-right: 15px;
}

.filter-full {
  width: 48%;
}

.filter-query_2 {
  width: 24%;
}

.filter-remove {
  width: 2%;
  text-align: right;
}

.filter-remove button {
  color: #e75650;
  background: transparent;
  border: none;
  font-weight: bold;
}

.btn {
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  text-shadow: none;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: #484746;
  background: #ececec;
  border-bottom: 1px solid #d3d2d2;
}

.btn-primary {
  background: #3aa3e3;
  color: #fff;
  border-bottom: 1px solid #1d8acd;
}

.btn-secondary {
  background: #2c405a;
  color: #fff;
  border-bottom: 1px solid #1b2838;
}

.filterable-export {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

